<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048531275134-ftkn3uttnalsfn9obdcal7oc6kc7mk5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048531275134-ftkn3uttnalsfn9obdcal7oc6kc7mk5m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1048531275134-1tnnfdhd0gklbdsgug1d35u2plfl70mv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0dBhISrXWGvN1KO3oSoNIyBsI9ZdOpfA</string>
	<key>GCM_SENDER_ID</key>
	<string>1048531275134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vivapro</string>
	<key>PROJECT_ID</key>
	<string>vivapro-59ebb</string>
	<key>STORAGE_BUCKET</key>
	<string>vivapro-59ebb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048531275134:ios:09663ced3d710d3a3e772f</string>
</dict>
</plist>